@{
    ViewBag.Title = "Back";
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-header-text">後台系統</h5>
        </div>
        <div class="card-block accordion-block color-accordion-block">
            <div class="color-accordion" id="color-accordion">
                <a class="accordion-msg b-none waves-effect waves-light">Lorem Message 1</a>
                <div class="accordion-desc">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                        Lorem Ipsum passages, and more .
                    </p>
                </div>
                <a class="accordion-msg bg-dark-primary b-none waves-effect waves-light">
                    Lorem Message
                    2
                </a>
                <div class="accordion-desc">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                        Lorem Ipsum passages, and more .
                    </p>
                </div>
                <a class="accordion-msg bg-darkest-primary b-none waves-effect waves-light">
                    Lorem Message
                    3
                </a>
                <div class="accordion-desc">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                        Lorem Ipsum passages, and more .
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>