<p>藍新</p>
<form name='form' action='https://ccore.spgateway.com/MPG/mpg_gateway' method='post'>
    <input  name='MerchantID' value='MS132153993' /><input  name='TradeInfo' value='59db67790797b32d3296ef33f7dd61c870fa85289213d499a1b39dc8af619e3a1d4b350d7fc268021901633bdc2a96f06a4e40a0167949dc79c123199cb092d99bdd0857c567fbada820cdca5cbdb67bfb6d322f521cf211f89b1c80b6896e3d35c093fa8587525f82ee4e60c0a7b4317a1598a925f3c7e52adbd79abd777c289d4ce3004226a3f7cb6e8b5583f3cebcd9b073a9dcd3a59aa89f0cf6bfe98ae907a9c00a832479625ddb46e743fe0829e9538a3861871c63bd4c03403bcc34ac5a6782c2044c53533baaf9226f96267b282097ff8c5bc6489e2d878d75dc21ab0ff588d7c3fbbb8b4ad440eb45719617505297ec31a1507cf84b94a95502be3942541f20f31e9f224b1a8066404e2b7d3af4019541c591a523add1a5d5d19d779f20af107774c4c96c2c79aa11765d1afdf26cf5d3a076b8e7556253f859dfbb3d3cceaed07d85c1ddaac18ce9babef79efe07d9276e206af6fd807a3922a548f3a02c19ecd35dc322f64ead2129fea463f58ed15a0c946de95617b29df5a371' /><input  name='TradeSha' value='0AE935BEE7BC2A3A8A23536446E082B13CFE8982DC56FD656727454FBFE5C7DB' /><input  name='Version' value='1.5' />
    <input type='submit' value='Submit'>
</form>
<p>藍新定期(目前有錯誤)</p>
<form name='form' action='https://ccore.spgateway.com/MPG/period' method='post'>
    <input name='MerchantID' value='MS132153993' />
    <input name='PostData_' value='' />

    <input type='submit' value='go'>
</form>
<p>綠界</p>
<form name='form' action='https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5' method='post'>
    <input name='MerchantID' value='2000132' />
    <input name='ChoosePayment' value='' />
    <input name='EncryptType' value='' />
    <input name='ItemName' value='' />
    <input name='MerchantTradeDate' value='' />
    <input name='MerchantTradeNo' value='' />
    <input name='PaymentType' value='' />
    <input name='ReturnURL' value='' />
    <input name='TotalAmount' value='' />
    <input name='TradeDesc' value='註記' />
    <input name='CheckMacValue' value='' />
    <input type='submit' value='go'>
</form>
<p>綠界單筆</p>
<form name='form' action='https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5' method='post'>
    <input name='MerchantID' value='2000132' />
    <input name='ChoosePayment' value='Credit' />
    <input name='EncryptType' value='1' />
    <input name='ItemName' value='' />
    <input name='MerchantTradeDate' value='' />
    <input name='MerchantTradeNo' value='' />
    <input name='PaymentType' value='aio' />
    <input name='ReturnURL' value='https://kirukiru.rocket-coding.com' />
    <input name='TotalAmount' value='' />
    <input name='TradeDesc' value='註記' />
    <input name='PeriodAmount' value='' />
    <input name='PeriodReturnURL' value='https://kirukiru.rocket-coding.com' />
    <input name='PeriodType' value='' />
    <input name='Frequency' value='1' />
    <input name='ExecTimes' value='' />
    <input name='CheckMacValue' value='' />
    <input type='submit' value='送出'>
</form>

